#pageDvd {
  margin: 1vw;
  background-color: #87ceeb;
  border-radius: 3vw;
  height: 83vh;
}

#pageDvdHeader {
  display: flex;
  padding: 1vw;
  flex-direction: column;
}

#dvdList {
  text-align: center;
  font-weight: bolder;
  font-size: 3vw;
  padding-bottom: 2vw;
}

#pageDvd-filter {
  display: flex;
  justify-content: center;
}

#pageDvd-filterOption {
  display: flex;
}

#filterTitle {
  font-weight: bolder;
  padding-right: 2vw;
}

#pageDvd-filterCategory,
#pageDvd-filterLanguage {
  padding-right: 2vw;
}

#pageDvd_categoryValue,
#pageDvd_languageValue {
  border: 0vw;
  padding: 0.3vw;
  border-radius: 0.4vw;
  font-size: 1vw;
}

#pageDvd_categoryValue option,
#pageDvd_languageValue option {
  background-color: rgb(135, 206, 235, 0.4);
}

#pageDvd-list {
  height: 80%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

#pageDvd-movieList {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  scroll-behavior: smooth;
  justify-content: space-evenly;
}

#pageDvd-movieDvd {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1.5vw;
  font-weight: 200;
}

#pageDvd-moviePoster {
  height: 27vw;
  width: 18vw;
  border-radius: 3vw;
  margin: 1vw;
}

#pageDvd-moviePoster:hover {
  border: 0.5vw rgb(21, 142, 195) inset;
}

#pageDvd-star {
  height: 1.2vw;
}
#pageDvd-movie-name {
  font-size: 2vw;
  font-weight: bolder;
}

#pageDvd-movie-rating,
#pageDvd-movie-release,
#pageDvd-movie-category,
#pageDvd-movie-language,
#pageDvd-movie-quantity {
  font-size: 1.5vw;
  font-weight: bolder;
}

#pageDvd-list::-webkit-scrollbar {
  width: 5px;
}

#pageDvd-list::-webkit-scrollbar-track {
  background: skyblue;
}

#pageDvd-list::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.5);
}

#pageDvd-list::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0, 0.7);
}

#pageDvd-buttonAddToCart {
  padding-top: 0.5vw;
}

#pageDvd-addToCart {
  font-size: 1.5vw;
  width: 13vw;
  height: 3vw;
  border-radius: 2vw;
  border: 0vw;
  cursor: pointer;
}

#pageDvd-addToCart:hover {
  font-size: 1.6vw;
  font-weight: bold;
}

.pageDvd-outOfStock {
  opacity: 0.5;
  color: red;
}

#pageDvd-outOfStock {
  font-size: 1.5vw;
  width: 13vw;
  height: 3vw;
  border-radius: 2vw;
  border: 0vw;
  cursor: no-drop;
  color: red;
}

#pageDvd-moviePoster-outofStock {
  height: 27vw;
  width: 18vw;
  border-radius: 3vw;
  margin: 1vw;
}
